#visualization {
    width: 100%;
    height: 700px;
    border: 1px solid lightgray;
}

#options {
    font-family: monospace;
    background-color: #d6e7ff;
    padding: 0.5EM;
    vertical-align: bottom;
    display: inline-block;
}

.optionname {
    font-weight: bold;
}
