#visualization {
    width: 100%;
    height: 650px;
    border: 1px solid lightgray;
}

#options {
    font-family: monospace;
    background-color: #ddebff;
    padding: 0.5EM;
    vertical-align: bottom;
}

.optionname {
    font-weight: bold;
}

.opt {
    display: inline-block;
    margin-right: 2em;
}

#debug {
    display: none;
    visibility: hidden;
}

.help {
    font-style: italic;
}
